<%= render layout: "admin/settings/layout" do %>
  <section class="section">
    <%= render_component "subhead" do |c| %>
      <% c.heading { "Account general settings" } %>
    <% end %>

    <form action="#" class="max-w-sm w-full">
      <div class="form-group">
        <label>Account name</label>

        <div class="flex items-center">
          <input type="text" value="Example account" name="" id="" class="form-control" />

          <button class="btn ml-3">Rename</button>
        </div>
      </div>
    </form>
  </section>

  <section class="section">
    <%= render_component "subhead" do |c| %>
      <% c.heading { "Activate your account" } %>

      <% c.description(tag: "p") do %>
        Your account is deactivated. If you ever need to activate it, press the button below.
      <% end %>
    <% end %>

    <button class="btn">Activate account</button>
  </section>

  <section class="section">
    <%= render_component "subhead" do |c| %>
      <% c.heading(variant: "danger") { "Danger zone" } %>
    <% end %>

    <div class="divide-y">
      <div>
        <h3 class="h6">Deactivate your account</h3>

        <p class="mt-1">
          This will immediately deactivate your account and will render a 404 for your
          <%= link_to "public feature requests", "#" %> page.
        </p>

        <button class="btn btn--danger-outline mt-3">Deactivate account</button>
      </div>

      <div>
        <h3 class="h6">Delete your account</h3>

        <p class="mt-1">
          This will permanently delete your account and will cancel your subscription too. Proceed with caution.
        </p>

        <button class="btn btn--danger-outline mt-3">Delete account</button>
      </div>
    </div>
  </section>
<% end %>
