<%= render layout: "admin/settings/layout" do %>
  <section class="section">
    <%= render_component "subhead" do |c| %>
      <% c.heading { "Account general settings" } %>
    <% end %>

    <%= form_with model: Current.account,
      url: accounts_path,
      method: :patch,
      data: { controller: "hotwire", action: "turbo:submit-end->hotwire#onSubmit" },
      class: "max-w-sm w-full" do |f|
    %>
      <div class="form-group">
        <%= f.label :name, "Account name" %>

        <div class="flex items-center">
          <%= f.text_field :name, class: "form-control", autocomplete: "off", required: true %>

          <%= f.submit "Rename", class: "btn ml-3" %>
        </div>

        <%= render_component "form/error", error_field: :name %>
      </div>
    <% end %>
  </section>

  <%= render_component "account/activate" %>

  <section class="section">
    <%= render_component "subhead" do |c| %>
      <% c.heading(variant: "danger") { "Danger zone" } %>
    <% end %>

    <div class="divide-y">
      <%= render_component "account/deactivate" %>

      <%= render_component "account/delete" %>
    </div>
  </section>
<% end %>
