<%= render_component "template/slate" do |c| %>
  <% c.heading { "Reset your password" } %>

  <% c.body do %>
    <div class="box-body">
      <p class="f5">
        Enter the email address associated with your account and we'll send you a link to reset your password.
      </p>

      <%= form_with model: User.new, url: password_resets_path, class: "mt-6" do |f| %>
        <div class="form-group">
          <%= f.label :email, "Email address" %>
          <%= f.email_field :email, class: "form-control form-control--lg", required: true %>
        </div>

        <div class="form-group">
          <%= f.submit "Send password reset link", class: "btn btn--primary btn--lg btn--block" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% c.footer do %>
    <p class="text-gray text-center">
      <%= link_to "Return back to sign in", new_session_path %>
    </p>
  <% end %>
<% end %>
