<div id="<%= dom_id(@stage) %>" class="stage box max-w-xs w-full">
  <div class="stage-heading">
    <div class="p-2 w-full">
      <h2 class="h6"><%= @stage.name %></h2>
    </div>

    <details class="dropdown details-reset details-overlay">
      <summary aria-haspopup="true" class="btn-remix px-2">
        <%= render_svg "more" %>
      </summary>

      <ul class="dropdown-menu dropdown-menu--lg dropdown-menu--sw">
        <li>
          <details data-controller="details" class="details-reset details-overlay details-overlay-dark">
            <summary class="border-box dropdown-item dropdown-item-btn">
              <%= render_svg "pencil" %>
              Edit
            </summary>

            <div class="modal box box--overlay overflow-y-visible">
              Stages
            </div>
          </details>
        </li>

        <li class="dropdown-separator"></li>

        <li>
          <details data-controller="details" class="details-reset details-overlay details-overlay-dark">
            <summary class="border-box dropdown-item dropdown-item-btn">
              <%= render_svg "trash" %>
              Delete this stage
            </summary>

            <div class="modal box box--overlay">
              Delete modal
            </div>
          </details>
        </li>
      </ul>
    </details>
  </div>

  <ul class="stage-feature">
    <%= render "admin/features/feature" %>
  </ul>

  <details data-controller="details" class="details-reset details-overlay details-overlay-dark">
    <summary class="stage-feature-btn border-box">
      <%= render_svg "plus" %>
      Add another feature
    </summary>

    <div class="modal modal--lg box box--spacious box--overlay">
      <div class="box-body">
        Feature new form
      </div>
    </div>
  </details>
</div>
