<%= render layout: "admin/settings/layout" do %>
  <section class="section">
    <%= render_component "subhead" do |c| %>
      <% c.heading { "Manage your custom domain" } %>

      <% c.description(tag: "p") do %>
        CNAME should not contain spaces, http:// or https://. By default we’ll try to force ssl your feature requests page.
      <% end %>
    <% end %>

    <div>
      <h3 class="h6">Feature flow provided domain:</h3>

      <%= link_to "#", class: "inline-flex items-center" do %>
        https://example.com
        <%= render_svg "external-link", size: 16, class: "ml-1 text-gray-light" %>
      <% end %>
    </div>

    <%= form_with model: Current.account,
      url: accounts_path,
      method: :patch,
      data: { controller: "hotwire", action: "turbo:submit-end->hotwire#onSubmit" },
      class: "mt-6 max-w-sm w-full" do |f|
    %>
      <div class="form-group">
        <%= f.label :cname, "CNAME" %>

        <div class="flex items-center">
          <%= f.text_field :cname, class: "form-control", placeholder: "Eg. subdomain.example.com", autocomplete: "off" %>

          <%= f.submit "Save", class: "btn btn--primary ml-3" %>
        </div>

        <%= render_component "form/error", error_field: :cname %>
      </div>
    <% end %>
  </section>
<% end %>
