<div id="<%= dom_id(@collaborator) %>" class="col-span-1 flex">
  <%= render_component "avatar", user: @collaborator.user, size: 10 %>

  <div class="ml-3">
    <div class="flex items-center">
      <h3 class="h6"><%= @collaborator.name %></h3>

      <% if @collaborator.invite_pending? %>
        <span class="ml-2 tooltip tooltip-n flex items-center justify-center" aria-label="Pending invite">
          <%= render_svg "info", variant: "solid", size: 16, class: "text-gray-light" %>
        </span>
      <% end %>
    </div>

    <p class="text-gray"><%= @collaborator.email %></p>

    <div class="flex items-center">
      <% if policy(@collaborator).rolify? %>
        <details data-controller="details lazy" data-lazy-url-value="<%= collaborator_roles_path(@collaborator) %>" class="details details-reset details-overlay details-overlay-dark">
          <summary data-action="click->lazy#fetch" class="f7 link--primary">
            <%= rolify_text %>
          </summary>

          <div data-lazy-target="container" class="modal box">
            <div class="loader"></div>
          </div>
        </details>

        <span class="mx-1">&middot;</span>
      <% end %>

      <% if current_member? %>
        <%= link_to "Remove yourself", collaborator_revocations_path(@collaborator), class: "f7" %>
      <% else %>
        <details data-controller="details lazy" data-lazy-url-value="<%= collaborator_removals_path(@collaborator) %>" class="details details-reset details-overlay details-overlay-dark">
          <summary data-action="click->lazy#fetch" class="f7 link--primary">
            Remove
          </summary>

          <div data-lazy-target="container" class="modal box">
            <div class="loader"></div>
          </div>
        </details>
      <% end %>
    </div>
  </div>
</div>
