<%= form_with **@options, data: { controller: "hotwire", action: "turbo:submit-end->hotwire#onSubmit" } do |f| %>
  <div class="form-group">
    <%= f.label :name, "Account name" %>
    <%= f.text_field :name, class: "form-control form-control--lg", autocomplete: "off", required: true %>

    <%= render_component "form/error", error_field: :name %>
  </div>

  <div class="form-group">
    <%= f.label :subdomain %>
    <%= f.text_field :subdomain, class: "form-control form-control--lg", autocomplete: "off", required: true %>

    <%= render_component "form/error", error_field: :subdomain %>
  </div>

  <div class="form-group">
    <%= f.submit "Let's get started", class: "btn btn--primary btn--block btn--lg" %>
  </div>
<% end %>
