<%= render layout: "admin/settings/layout" do %>
  <section class="section">
    <%= render_component "subhead" do |c| %>
      <% c.heading { "Manage your team members" } %>
    <% end %>

    <div class="flex items-center justify-between">
      <div class="search-form max-w-sm w-full">
        <remote-input src="<%= account_collaborators_path %>" data-target="collaborator-list">
          <input type="text" value="<%= params[:query] %>" class="form-control" placeholder="Search members by name, email...">
        </remote-input>

        <div class="search-form-icon"><%= render_svg "search" %></div>
      </div>

      <%= render_component "collaborator/invite_form", current_user: Current.user, account: Current.account %>
    </div>

    <div class="mt-6">
      <h2 class="h6">These people are currently in your team</h2>

      <div id="collaborator-list" class="mt-5 grid grid-cols-2 gap-4">
        <%= render_component "collaborator/list", collection: @collaborators, current_user: Current.user %>
      </div>
    </div>
  </section>
<% end %>
