<!DOCTYPE html>
<html>
  <head>
    <title>Featureflow2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "admin", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="h-screen overflow-y-hidden">
    <%= render "notifications/notices" %>
    <%= render_component "navigation/admin_navbar", current_user: Current.user %>

    <%= yield %>
  </body>
</html>
